Repository byte-physics/igortest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, testing, testing_nightly, xml_verification, deployment_staging, deployment

documentation:
  tags:
  - debian, docker
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_SPHINX}
    GIT_SUBMODULE_STRATEGY: recursive
  image:
    name: ${CI_REGISTRY}/internal/docker-sphinx:latest
  script:
  - cd docu/doxygen
  - doxygen
  - cp -r xml ../sphinx/source
  - cd ../sphinx
  - make html
  - cd ../..
  ...

testing:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 6
      - 7
      - 8
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

testing_nightly:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - Tracing.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

xml_verification:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd tests
  - ./check-junit-xml-files.sh
  needs:
  - testing

deployment_staging:
  when: manual
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

deployment:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

Rename unit-testing-hooks to unit-testing-hooks-proto
  procedures/unit-testing-hooks-proto.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor Hooks into own file
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Hooks: Refactor ExecuteHooks to be cleaner
  procedures/unit-testing-hooks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Treat user hooks as test cases for the results
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing-reporting-control.ipf
  procedures/unit-testing-utils-waves.ipf
  tests/TestResultsTests/BadHooks.ipf
  tests/TestResultsTests/GoodHooks.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/TestUtils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Remove logTestCase parameter from EvaluateRTE
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.graphml
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.svg
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-hooks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Update Readme.md
  Readme.md
Due: none

Refactor: Move function tags functions to own file
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-functiontags.ipf
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing-tap.ipf
  procedures/unit-testing-tracing.ipf
  procedures/unit-testing-utils.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Function Tags: Fix long function name bug
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-functiontags.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Function Tags: Cleanup function tags
  docu/examples/TAP_Examples/tap_example1a-uncaught-aborts.ipf
  docu/examples/TAP_Examples/tap_example1b-warn_and_error.ipf
  docu/sphinx/source/advanced.rst
  internal_dev/IM_tap_example1a-uncaught-aborts.ipf
  internal_dev/IM_tap_example1b-warn_and_error.ipf
  internal_dev/static_in_ProcGlobal.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-functiontags.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Require UTF_EXPECTED_FAILURE to have errors
  docu/sphinx/source/basic.rst
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing-reporting.ipf
  tests/TestResultsTests/EasyTests.ipf
  tests/TestResultsTests/FailedTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Remove unused reporting parameter
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.graphml
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.svg
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Execute test suite end hook only if started
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Execute AfterTestCaseUserHook independent from user hook
  procedures/unit-testing-hooks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Remove unused ExecuteUserHook return value
  procedures/unit-testing-hooks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Skip test case end user hook if test case skipped
  procedures/unit-testing-hooks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Require optional function parameter for reentry
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Use cached home path for accessing files
  procedures/unit-testing-autorun.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-junit.ipf
  procedures/unit-testing-tap.ipf
  procedures/unit-testing-tracing.ipf
  procedures/unit-testing-utils-paths.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Move md test related setup to own files
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-functiontags.ipf
  procedures/unit-testing-test-md-gen.ipf
  procedures/unit-testing-test-md-mmd.ipf
  procedures/unit-testing-test-md.ipf
  procedures/unit-testing-test-proto.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Move polyfill functions to own file
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-polyfill.ipf
  procedures/unit-testing-utils-strings.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Debug helper into own file
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-debug.ipf
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Introduce data generators as virtual test cases
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-test-md-gen.ipf
  procedures/unit-testing-test-md.ipf
  tests/TestResultsTests/GeneratorTests.ipf
  tests/TestResultsTests/GeneratorTestsExtra.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/TestUtils.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

.gitattributes: Ignore the documentation folder for the language statistics
  .gitattributes
Due: none

Adopt reuse
  .pre-commit-config.yaml
  .reuse/dep5
  LICENSES/BSD-3-Clause.txt
  LICENSES/CC-BY-NC-ND-4.0.txt
  LICENSES/CC0-1.0.txt
  LICENSES/MIT.txt
Due: none

ctags.cnf: Add it
  ctags.cnf
Due: none

.gitignore: Ignore directory .cache from pre-commit
  .gitignore
Due: none

Remove license file headers
  internal_dev/TestTextWaveDiff.ipf
  procedures/unit-testing-assertion-checks.ipf
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-assertions.ipf
  procedures/unit-testing-autorun.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-hooks-proto.ipf
  procedures/unit-testing-junit.ipf
  procedures/unit-testing-tap.ipf
  procedures/unit-testing-utils-strings.ipf
  procedures/unit-testing-utils.ipf
  procedures/unit-testing.ipf
  tests/DebugModeTests.ipf
  tests/Tracing.ipf
  tests/VTTE.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Readme.md: Add reuse badge
  Readme.md
Due: none

developers.rst: Add steps how to install for developers
  docu/sphinx/source/developer.rst
Due: documentation, deployment_staging

Add restore of tracing backup function
  docu/sphinx/source/advanced.rst
  procedures/unit-testing-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Remove unit-testing-tracing-auto.ipf in favor of TUFXOP
  procedures/unit-testing-tracing-analytics.ipf
  procedures/unit-testing-tracing-auto.ipf
  procedures/unit-testing-tracing-tracer.ipf
  procedures/unit-testing-tracing.ipf
  procedures/unit-testing.ipf
  tests/Tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Rename project in documentation and tests
  .gitlab-ci.yml
  docu/doxygen/Doxyfile
  docu/sphinx/Makefile
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/basic.rst
  docu/sphinx/source/conf.py
  docu/sphinx/source/examples.rst
  docu/sphinx/source/guided-tour.rst
  docu/sphinx/source/index.rst
  docu/sphinx/source/introduction.rst
  internal_dev/example15-background_caught_abort_and_require.ipf
  tests/TestResultsTests/ErroredTests.ipf
  tests/TestResultsTests/FailedTests.ipf
  tests/TestResultsTests/MultiDataTests.ipf
  tests/TestResultsTests/ReentryTests.ipf
  tests/TestResultsTests/TestUtils.ipf
  tests/VTTE.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Add deprecation banner
  procedures/igortest.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Package folder
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/developer.rst
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  tests/TestResultsTests/TestUtils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Module names from UTF_* to IUTF_*
  docu/sphinx/source/advanced.rst
  procedures/unit-testing-assertion-checks.ipf
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-assertions.ipf
  procedures/unit-testing-autorun.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-debug.ipf
  procedures/unit-testing-functiontags.ipf
  procedures/unit-testing-hooks-proto.ipf
  procedures/unit-testing-hooks.ipf
  procedures/unit-testing-junit.ipf
  procedures/unit-testing-polyfill.ipf
  procedures/unit-testing-reporting-control.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-tap.ipf
  procedures/unit-testing-test-md-gen.ipf
  procedures/unit-testing-test-md-mmd.ipf
  procedures/unit-testing-test-md.ipf
  procedures/unit-testing-test-proto.ipf
  procedures/unit-testing-tracing-analytics.ipf
  procedures/unit-testing-tracing-tracer.ipf
  procedures/unit-testing-tracing.ipf
  procedures/unit-testing-utils-paths.ipf
  procedures/unit-testing-utils-strings.ipf
  procedures/unit-testing-utils-textgrid.ipf
  procedures/unit-testing-utils-vector.ipf
  procedures/unit-testing-utils-waves.ipf
  procedures/unit-testing-utils.ipf
  tests/TestResultsTests/GeneratorTests.ipf
  tests/TestResultsTests/TestUtils.ipf
  tests/Tracing.ipf
  tests/VTTE.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: UTF to IUTF in comments and doc
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/flags.rst
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-hooks.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-reporting.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: procedure files to igortest-*
  procedures/igortest-assertion-checks.ipf
  procedures/igortest-assertion-wrappers.ipf
  procedures/igortest-assertions.ipf
  procedures/igortest-autorun.ipf
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-debug.ipf
  procedures/igortest-functiontags.ipf
  procedures/igortest-hooks-proto.ipf
  procedures/igortest-hooks.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-polyfill.ipf
  procedures/igortest-reporting-control.ipf
  procedures/igortest-reporting.ipf
  procedures/igortest-tap.ipf
  procedures/igortest-test-md-gen.ipf
  procedures/igortest-test-md-mmd.ipf
  procedures/igortest-test-md.ipf
  procedures/igortest-test-proto.ipf
  procedures/igortest-tracing-analytics.ipf
  procedures/igortest-tracing-tracer.ipf
  procedures/igortest-tracing.ipf
  procedures/igortest-utils-paths.ipf
  procedures/igortest-utils-strings.ipf
  procedures/igortest-utils-textgrid.ipf
  procedures/igortest-utils-vector.ipf
  procedures/igortest-utils-waves.ipf
  procedures/igortest-utils.ipf
  procedures/igortest.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Update release path to new naming
  .gitlab-ci.yml
  docu/sphinx/source/conf.py
Due: documentation, deployment_staging

Rename: Path names for docker and documentation
  .reuse/dep5
  Readme.md
  create-public-release.sh
  docu/docker/doxygen/Dockerfile
  docu/docker/doxygen/Makefile
  docu/docker/sphinx/Dockerfile
  docu/docker/sphinx/Makefile
  docu/sphinx/source/_templates/version.html
  docu/sphinx/source/guided-tour.rst
Due: documentation, deployment_staging

Rename: Function names to contain IUTF instead of UTF
  docu/examples/example11-background.ipf
  docu/examples/example12-background-using-hooks.ipf
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.graphml
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/flags.rst
  internal_dev/DataGenSpecificWaveTypes.ipf
  internal_dev/IM_example14-background_reentry_module.ipf
  internal_dev/example14-multi-test-data-with-background.ipf
  internal_dev/example15-background_caught_abort_and_require.ipf
  internal_dev/fail-on-timeout-with-background-reentry.ipf
  procedures/igortest-autorun.ipf
  procedures/igortest-basics.ipf
  procedures/igortest-hooks.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-reporting.ipf
  procedures/igortest-tap.ipf
  procedures/igortest-test-md-gen.ipf
  procedures/igortest-test-md.ipf
  procedures/igortest-tracing-analytics.ipf
  procedures/igortest-tracing-tracer.ipf
  procedures/igortest-tracing.ipf
  tests/TestResultsTests/ReentryTests.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename: Function tags to have IUTF_ prefix
  docu/examples/example13-multi-test-data.ipf
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/basic.rst
  internal_dev/DataGenFunctionResolution/IM_test_example.ipf
  internal_dev/DataGenFunctionResolution/test_example.ipf
  internal_dev/DataGenSpecificWaveTypes.ipf
  internal_dev/FreeWaveLeaks.ipf
  internal_dev/example13-multi-test-data-with-fails.ipf
  internal_dev/example14-multi-test-data-with-background.ipf
  internal_dev/testcase_order.ipf
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-functiontags.ipf
  tests/TestResultsTests/EasyTests.ipf
  tests/TestResultsTests/FailedTests.ipf
  tests/TestResultsTests/GeneratorTests.ipf
  tests/TestResultsTests/GeneratorTestsExtra.ipf
  tests/TestResultsTests/MultiDataTests.ipf
  tests/Various.ipf
  tests/test-tracing.ipf
  tests/test-tracing_instrumented.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Path conditions:
  documentation: any of: docu/**/*, procedures/**/*
  testing: any of: procedures/**/*, tests/**/*, xop/**/*
  testing_nightly: any of: procedures/**/*, tests/**/*, xop/**/*
  xml_verification: any of: procedures/**/*, tests/**/*, xop/**/*
  deployment_staging: any of: docu/**/*, procedures/**/*
  deployment: (not (any of: procedures/**/*, tests/**/*, xop/**/*)) and (any of: procedures/**/*, tests/**/*, xop/**/*)
