Repository byte-physics/igortest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, testing, testing_nightly, xml_verification, deployment_staging, deployment

documentation:
  tags:
  - debian, docker
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_SPHINX}
    GIT_SUBMODULE_STRATEGY: recursive
  image:
    name: ${CI_REGISTRY}/internal/docker-sphinx:latest
  script:
  - cd docu/doxygen
  - doxygen
  - cp -r xml ../sphinx/source
  - cd ../sphinx
  - make html
  - cd ../..
  ...

testing:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 6
      - 7
      - 8
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

testing_nightly:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - Tracing.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

xml_verification:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd tests
  - ./check-junit-xml-files.sh
  needs:
  - testing

deployment_staging:
  when: manual
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

deployment:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

add dummy
  docu/dummy.txt
Due: documentation, deployment_staging

fix ci
  .gitlab-ci.yml
Due: none

ci fix when
  .gitlab-ci.yml
Due: none

and again...
  .gitlab-ci.yml
Due: none

move to tests
  docu/dummy.txt
  tests/dummy.txt
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

move to procedures
  procedures/dummy.txt
  tests/dummy.txt
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Bug-Fix: missing assertion name
  procedures/unit-testing-basics.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Bug-Fix: Fix undefined global var references
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Rename internal variables
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add custom printf variant
  procedures/unit-testing-utils-strings.ipf
  procedures/unit-testing.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add INFO() UTF function for assertion context
  docu/examples/example14-info.ipf
  docu/examples/example14.pxp
  docu/sphinx/source/examples.rst
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-assertions.ipf
  procedures/unit-testing-basics.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Format RTE errors like Assertion errors
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Add RTE errors to the test suite summary
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

NicifyTableText: Add spaces to make output cleaner
  procedures/unit-testing-utils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Add analytics file
  procedures/unit-testing-tracing-analytics.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Collect totals
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing: Collect data for rendering
  procedures/unit-testing-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Collect data of line calls
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Search for top calls
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Collect data of function calls
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing Analytics: Gather top function or lines calls
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Advanced Doc: Fix commit line count
  docu/sphinx/source/advanced.rst
Due: documentation, deployment_staging

Advanced Docs: Add Tracing Analytics
  docu/sphinx/source/advanced.rst
Due: documentation, deployment_staging

RunTest: Flip argument for SelectString with fixLogName
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Delete data folder before wave leak checks
  procedures/unit-testing-basics.ipf
  tests/Various.pxp
  tests/WaveTracking.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

unit-testing-autorun.ipf: Add missing ModuleName pragma
  procedures/unit-testing-autorun.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

GetWavePointer_Impl: Fix return memory address
  procedures/unit-testing-utils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix EnsureLargeEnoughWaveSimple for any index
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Move WAVECHUNK_SIZE constant to global constants.
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix test case to pass the changes in b3ca346
  tests/Various.ipf
Due: testing, testing_nightly, xml_verification

docu: Remove building the PDF documentation
  create-public-release.sh
  docu/docker/sphinx/Dockerfile
  docu/docker/sphinx/Makefile
  docu/scripts/docu-sphinx.sh
Due: documentation, deployment_staging

docu/docker: Make containers work again
  docu/docker/debian/Dockerfile
  docu/docker/doxygen/Dockerfile
  docu/docker/sphinx/Dockerfile
Due: documentation, deployment_staging

Split Various.pxp into two experiment files
  .gitlab-ci.yml
  tests/DebugModeTests.pxp
  tests/Various.pxp
Due: testing, testing_nightly, xml_verification

Fix: Wave type name concatenation
  procedures/unit-testing-assertion-checks.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Limitation of maximum wave sizes
  procedures/unit-testing-basics.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: NULL Byte escaping in Igor 6
  tests/Various.ipf
Due: testing, testing_nightly, xml_verification

Use lowercase pointer names
  procedures/unit-testing-utils.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

DiffString: Enable null string parameter
  procedures/unit-testing-utils.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: INFO() for Aborts and RTEs
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Path conditions:
  documentation: any of: docu/**/*, procedures/**/*
  testing: any of: procedures/**/*, tests/**/*, xop/**/*
  testing_nightly: any of: procedures/**/*, tests/**/*, xop/**/*
  xml_verification: any of: procedures/**/*, tests/**/*, xop/**/*
  deployment_staging: any of: docu/**/*, procedures/**/*
  deployment: (not (any of: procedures/**/*, tests/**/*, xop/**/*)) and (any of: procedures/**/*, tests/**/*, xop/**/*)
