Repository byte-physics/igortest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, testing, testing_nightly, xml_verification, deployment_staging, deployment

documentation:
  tags:
  - debian, docker
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_SPHINX}
    GIT_SUBMODULE_STRATEGY: recursive
  image:
    name: ${CI_REGISTRY}/internal/docker-sphinx:latest
  script:
  - cd docu/doxygen
  - doxygen
  - cp -r xml ../sphinx/source
  - cd ../sphinx
  - make html
  - cd ../..
  ...

testing:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 6
      - 7
      - 8
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

testing_nightly:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - Tracing.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

xml_verification:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd tests
  - ./check-junit-xml-files.sh
  needs:
  - testing

deployment_staging:
  when: manual
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

deployment:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

Fix: Wave tracking and tracing in UnitTests for Igor <9
  tests/UnitTests/main.ipf
Due: testing, testing_nightly, xml_verification

Add ci job under macosx
  .gitlab-ci.yml
Due: none

Fix: TestRandomTestCaseOrder test case in Igor 6
  tests/TestResultsTests/TestOrderTests.ipf
Due: testing, testing_nightly, xml_verification

Add compilation test feature
  procedures/igortest-assertion-wrappers.ipf
  procedures/igortest-assertions.ipf
  procedures/igortest-basics.ipf
  procedures/igortest-reporting.ipf
  procedures/igortest-test-compilation.ipf
  procedures/igortest.ipf
  tests/IMUnitTests/Test/Data/TestData-Cond.ipf
  tests/IMUnitTests/Test/Data/TestData-Invalid.ipf
  tests/IMUnitTests/Test/Data/TestData-Valid.ipf
  tests/IMUnitTests/Test/Test-CompilationTests.ipf
  tests/IMUnitTests/im-main.ipf
  tests/IMUnitTests/main.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

CI: Add verbose output for Igor nightly
  .gitlab-ci.yml
Due: none

CI: fail execution if no JUnit file found
  .gitlab-ci.yml
Due: none

CI: Remove IMUnitTests from Linux CI
  .gitlab-ci.yml
Due: none

Add TUF-64 XOP for MacOSX in xop folder
  xop/TUF-64.xop/Contents/Info.plist
  xop/TUF-64.xop/Contents/MacOS/TUF-64
  xop/TUF-64.xop/Contents/PkgInfo
  xop/TUF-64.xop/Contents/Resources/English.lproj/InfoPlist.strings
  xop/TUF-64.xop/Contents/Resources/TUF-64.rsrc
Due: testing, testing_nightly, xml_verification

Fix: Tracing tests
  tests/Tracing.ipf
Due: testing, testing_nightly, xml_verification

Fix: Function signature check in GetFunctionSignatureTCMD for Igor 6
  procedures/igortest-test-md.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

CI: add amd64 runner tag
  .gitlab-ci.yml
Due: none

Fix: Allow run() functions inside independent modules
  docu/sphinx/source/advanced.rst
  internal_dev/IM_run.ipf
  internal_dev/IM_run.pxp
  procedures/igortest-autorun.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

JUnit: Fix assertion output indexing
  procedures/igortest-junit.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Use relative includes in UnitTests
  tests/UnitTests/Tracing/CoberturaTests.ipf
  tests/UnitTests/Tracing/ComplexityTests.ipf
  tests/UnitTests/Utils/PathsTests.ipf
  tests/UnitTests/Utils/StringsTests.ipf
  tests/UnitTests/main.ipf
Due: testing, testing_nightly, xml_verification

Fix: WARN(0) as no longer an error in JUnit output
  procedures/igortest-constants.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-reporting.ipf
  tests/UnitTests/Reporting/WarnTests.ipf
  tests/UnitTests/main.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Readme.md: Mention cobertura support
  Readme.md
Due: none

changelog.rst: Update it
  docu/sphinx/source/changelog.rst
Due: documentation, deployment_staging

GenerateDimLabelDifference: Don't ignore case
  docu/sphinx/source/changelog.rst
  procedures/igortest-basics.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

create-public-release.sh: Update it
  create-public-release.sh
Due: none

docu/sphinx/soruce/changelog.rst: Raise release date
  docu/sphinx/source/changelog.rst
Due: documentation, deployment_staging

Code Style: Ensure that each operation argument is separated by a comma
  procedures/igortest-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Code Style: Unify comma in function signatures
  procedures/igortest-assertions.ipf
  procedures/igortest-tracing-tracer.ipf
  procedures/igortest-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

.pre-commit-config.yaml: Add end-of-file-fixer
  .pre-commit-config.yaml
Due: none

Tracing Analytics: Optimize GetTotals
  procedures/igortest-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Autorun: Cleanup previous stored home path
  procedures/igortest-autorun.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add utility function to unregister the IUTF background monitoring task
  docu/sphinx/source/advanced.rst
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add SKIP_TESTCASE and SKIP_TESTCASE_EXPECT_FAILS assertions
  procedures/igortest-assertions.ipf
  procedures/igortest-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add SKIP_TESTCASE and SKIP_TESTCASE_EXPECT_FAILS assertions
  procedures/igortest-assertions.ipf
  procedures/igortest-basics.ipf
  procedures/igortest-hooks.ipf
  procedures/igortest-reporting.ipf
  tests/TestResultsTests/EasyTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

CODEOWNERS: Add Max Brauer
  CODEOWNERS
Due: none

Do not clear info message text wave after each assertion
  procedures/igortest-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Do not build message in equal_wave_wrapper on successful assertion
  procedures/igortest-assertion-wrappers.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Optimize package folder resolve
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Use less complex string construction in function DebugOutput for default case
  procedures/igortest-debug.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Remove verbose mode through EnableDebugOutput/DisableDebugOutput
  docu/sphinx/source/code.rst
  docu/sphinx/source/helpers.rst
  procedures/igortest-debug.ipf
  procedures/igortest-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

docu/shpinx: Fix sphinx error
  docu/sphinx/source/conf.py
Due: documentation, deployment_staging

.gitlab-ci.yml: Switch to new runner on sonoma
  .gitlab-ci.yml
Due: none

.gitlab-ci.yml: Remove junit2html usage
  .gitlab-ci.yml
Due: none

CI: Fix ReportGenerator path
  .gitlab-ci.yml
Due: none

Fix sphinx documentation style
  docu/sphinx/source/_static/custom.css
  docu/sphinx/source/conf.py
Due: documentation, deployment_staging

Path conditions:
  documentation: any of: docu/**/*, procedures/**/*
  testing: any of: procedures/**/*, tests/**/*, xop/**/*
  testing_nightly: any of: procedures/**/*, tests/**/*, xop/**/*
  xml_verification: any of: procedures/**/*, tests/**/*, xop/**/*
  deployment_staging: any of: docu/**/*, procedures/**/*
  deployment: (not (any of: procedures/**/*, tests/**/*, xop/**/*)) and (any of: procedures/**/*, tests/**/*, xop/**/*)
