Repository byte-physics/igortest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, testing, testing_nightly, xml_verification, deployment_staging, deployment

documentation:
  tags:
  - debian, docker
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_SPHINX}
    GIT_SUBMODULE_STRATEGY: recursive
  image:
    name: ${CI_REGISTRY}/internal/docker-sphinx:latest
  script:
  - cd docu/doxygen
  - doxygen
  - cp -r xml ../sphinx/source
  - cd ../sphinx
  - make html
  - cd ../..
  ...

testing:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 6
      - 7
      - 8
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

testing_nightly:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - Tracing.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

xml_verification:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd tests
  - ./check-junit-xml-files.sh
  needs:
  - testing

deployment_staging:
  when: manual
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

deployment:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

Rename: Update experiment files
  docu/examples/Example1.pxp
  docu/examples/Example2.pxp
  docu/examples/Example3.pxp
  docu/examples/Example4.pxp
  docu/examples/Example5.pxp
  docu/examples/Example6/Example6.pxp
  docu/examples/Example7.pxp
  docu/examples/Example8.pxp
  docu/examples/TAP_Examples/tap_example1.pxp
  docu/examples/example14.pxp
  internal_dev/AbortingUserHooks.pxp
  internal_dev/DataGenFunctionResolution/Experiment.pxp
  internal_dev/Dev.pxp
  internal_dev/EqualWaves.pxp
  internal_dev/FreeWaveLeaks.pxp
  internal_dev/IM1.pxp
  internal_dev/TestTextWaveDiff.pxp
  internal_dev/TestWaveType.pxp
  internal_dev/TracingZError.pxp
  internal_dev/getTestCaseMatch.pxp
  tests/DebugModeTests.pxp
  tests/IMTest.pxp
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestTracing.pxp
  tests/Various.pxp
  tests/VeryTinyTestEnvironment.pxp
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix PadString bug in internal_dev experiment
  internal_dev/TestTextWaveDiff.ipf
Due: none

docu/sphinx/source/guided-tour.rst: Adapt to main as default branch
  docu/sphinx/source/guided-tour.rst
Due: documentation, deployment_staging

Document user abort key shortcuts
  docu/sphinx/source/basic.rst
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Include custom INFO() in STDERR
  procedures/igortest-reporting.ipf
  tests/TestResultsTests/EasyTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Include custom INFO() in JUnit
  procedures/igortest-junit.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Update test case status only when errors are allowed
  procedures/igortest-reporting.ipf
  tests/TestResultsTests/EasyTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Long wave labels in DataGeneratorWaves
  procedures/igortest-basics.ipf
  procedures/igortest-functiontags.ipf
  procedures/igortest-test-md-gen.ipf
  procedures/igortest-test-md-mmd.ipf
  procedures/igortest-utils-vector.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Long wave labels in MMDataState
  procedures/igortest-basics.ipf
  procedures/igortest-test-md-mmd.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Doc: behavior of RTE/Abort in DG and UH
  docu/sphinx/source/advanced.rst
Due: documentation, deployment_staging

*_EQUAL_STR and *_NEQ_STR are now pass-by-value
  procedures/igortest-assertion-wrappers.ipf
  procedures/igortest-assertions.ipf
  tests/TestResultsTests/FailedTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

IsEmpty will no longer check for null strings
  procedures/igortest-autorun.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-reporting.ipf
  procedures/igortest-tracing-analytics.ipf
  procedures/igortest-tracing.ipf
  procedures/igortest-utils-strings.ipf
  procedures/igortest-utils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Allow rerun of flaky test cases
  docu/sphinx/source/advanced.rst
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-functiontags.ipf
  procedures/igortest-junit.ipf
  procedures/igortest-reporting-control.ipf
  procedures/igortest-reporting.ipf
  procedures/igortest-tap.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/RetryTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix VTTE: CHECK_NEQ_STR doesn't allow nullstr
  tests/VTTE.ipf
Due: testing, testing_nightly, xml_verification

Example8: Fix whitespace
  docu/examples/example8-uncaught-runtime-errors.ipf
Due: documentation, deployment_staging

Add *_RTE, *_ANY_RTE and *_NO_RTE assertions
  docu/examples/example8-uncaught-runtime-errors.ipf
  docu/sphinx/source/examples.rst
  procedures/igortest-assertion-checks.ipf
  procedures/igortest-assertion-wrappers.ipf
  procedures/igortest-assertions.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Order of test case execution
  procedures/igortest-basics.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/TestOrderTests.ipf
  tests/TestResultsTests/TestOrderTestsA.ipf
  tests/TestResultsTests/TestOrderTestsB.ipf
  tests/TestResultsTests/TestOrderTestsC.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add shuffling of execution order
  docu/sphinx/source/advanced.rst
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-functiontags.ipf
  procedures/igortest-utils-strings.ipf
  procedures/igortest-utils-waves.ipf
  tests/TestResultsTests/GeneratorTests.ipf
  tests/TestResultsTests/TestOrderTests.ipf
  tests/TestResultsTests/TestOrderTestsD.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Rename igortest in tests/Tracing.pxp
  tests/.gitignore
  tests/TestTracing.pxp
  tests/Tracing.pxp
Due: testing, testing_nightly, xml_verification

Refactor: XML helper functions from JUnit to own file
  procedures/igortest-junit.ipf
  procedures/igortest-utils-xml.ipf
  procedures/igortest.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add marker wave for Tracing
  procedures/igortest-tracing.ipf
  tests/Tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Cleanup Info Msg in EQUAL_STR_WRAPPER
  procedures/igortest-assertion-wrappers.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

RunTest Docs: prevent function tag IUTF_RETRY_FAILED matching
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Null string access in Tracing
  procedures/igortest-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Tracing HTML: Use marker wave
  internal_dev/.gitignore
  procedures/igortest-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add Support for Cobertura files
  .gitlab-ci.yml
  docu/examples/CoverageDemoCode.ipf
  docu/sphinx/source/advanced.rst
  procedures/igortest-basics.ipf
  procedures/igortest-constants.ipf
  procedures/igortest-tracing-cobertura.ipf
  procedures/igortest-utils-paths.ipf
  procedures/igortest-utils-strings.ipf
  procedures/igortest-utils-xml.ipf
  procedures/igortest.ipf
  tests/UnitTests/Tracing/Tracing-CoberturaTests.ipf
  tests/UnitTests/UnitTests.pxp
  tests/UnitTests/Utils/Utils-PathsTests.ipf
  tests/UnitTests/Utils/Utils-StringsTests.ipf
  tests/UnitTests/main.ipf
  tests/check-junit-xml-files.sh
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

CI: Add Cobertura HTML report generator output
  .gitignore
  .gitlab-ci.yml
  docu/sphinx/source/developer.rst
  tests/.gitignore
  tests/UnitTests/main.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

CI: Add XML validation of Cobertura files
  .gitlab-ci.yml
  .reuse/dep5
  LICENSES/GPL-2.0-only.txt
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/coverage-04.dtd
  tests/check-junit-xml-files.sh
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix CI: Move to correct folder
  .gitlab-ci.yml
Due: none

Readme: Add coverage badge
  Readme.md
Due: none

Fix function signature in cobertura output
  procedures/igortest-tracing-cobertura.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: UnitTests main.ipf
  tests/UnitTests/main.ipf
Due: testing, testing_nightly, xml_verification

Add complexity calculation for cobertura output
  procedures/igortest-tracing-cobertura.ipf
  procedures/igortest-tracing.ipf
  procedures/igortest-utils-strings.ipf
  tests/UnitTests/Tracing/Tracing-CoberturaTests.ipf
  tests/UnitTests/Tracing/Tracing-ComplexityTests.ipf
  tests/UnitTests/Utils/Utils-StringsTests.ipf
  tests/UnitTests/main.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Set threshold for risk hotspot analysis
  .gitlab-ci.yml
Due: none

Add keyword elseif for complexity analysis
  procedures/igortest-tracing.ipf
  tests/UnitTests/Tracing/Tracing-ComplexityTests.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix: Add init of cobertura run test structure vars
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix assertion source in independent modules
  procedures/igortest-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add IM Unit tests experiment
  .gitlab-ci.yml
  tests/IMTest.ipf
  tests/IMTest.pxp
  tests/IMUnitTests/IMUnitTests.pxp
  tests/IMUnitTests/Test/Test-ExecTests.ipf
  tests/IMUnitTests/im-main.ipf
  tests/IMUnitTests/main.ipf
Due: testing, testing_nightly, xml_verification

Clear abort flag at the begin of RunTest
  procedures/igortest-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Path conditions:
  documentation: any of: docu/**/*, procedures/**/*
  testing: any of: procedures/**/*, tests/**/*, xop/**/*
  testing_nightly: any of: procedures/**/*, tests/**/*, xop/**/*
  xml_verification: any of: procedures/**/*, tests/**/*, xop/**/*
  deployment_staging: any of: docu/**/*, procedures/**/*
  deployment: (not (any of: procedures/**/*, tests/**/*, xop/**/*)) and (any of: procedures/**/*, tests/**/*, xop/**/*)
