Repository byte-physics/igortest: changes, and which GitLab CI jobs are due for each by the changed paths.
All: documentation, testing, testing_nightly, xml_verification, deployment_staging, deployment

documentation:
  tags:
  - debian, docker
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_SPHINX}
    GIT_SUBMODULE_STRATEGY: recursive
  image:
    name: ${CI_REGISTRY}/internal/docker-sphinx:latest
  script:
  - cd docu/doxygen
  - doxygen
  - cp -r xml ../sphinx/source
  - cd ../sphinx
  - make html
  - cd ../..
  ...

testing:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 6
      - 7
      - 8
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

testing_nightly:
  tags:
  - debian, docker
  parallel:
    matrix:
    - IGOR_VERSION:
      - 9
      ARCHITECTURE:
      - x86
      - x64
      EXPERIMENT:
      - VeryTinyTestEnvironment.pxp
      - Various.pxp
      - Tracing.pxp
      - IMTest.pxp
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_IGOR_PRO}
  image:
  ...

xml_verification:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd tests
  - ./check-junit-xml-files.sh
  needs:
  - testing

deployment_staging:
  when: manual
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

deployment:
  tags:
  - debian, docker
  image:
    name: ${CI_REGISTRY}/internal/docker-utils:latest
  timeout: 10 minutes
  variables:
    DOCKER_AUTH_CONFIG: ${DOCKER_AUTH_CONFIG_UTILS}
  script:
  - cd docu/sphinx
  ...

changelog.rst: Add historic changelog entries
  docu/sphinx/source/changelog.rst
  docu/sphinx/source/index.rst
Due: documentation, deployment_staging

Fix: Show INFO() for CHECK_EQUAL_WAVE()
  procedures/unit-testing-assertion-wrappers.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

docu: Add more labels
  docu/sphinx/source/advanced.rst
  docu/sphinx/source/examples.rst
Due: documentation, deployment_staging

Raise copyright year
  License.txt
  docu/sphinx/source/conf.py
Due: documentation, deployment_staging

create-public-release.sh: Raise version
  create-public-release.sh
Due: none

tests/Tracing.ipf: Adapt to changed line numbers
  tests/Tracing.ipf
  tests/test-tracing_instrumented.ipf
Due: testing, testing_nightly, xml_verification

Add changelog entries for next release
  docu/sphinx/source/changelog.rst
Due: documentation, deployment_staging

Doxyfile: Raise version
  docu/doxygen/Doxyfile
Due: documentation, deployment_staging

Documentation: Add custom.css with more spacing between functions
  docu/sphinx/source/_static/custom.css
Due: documentation, deployment_staging

Documentation: Fix links to constants
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-assertions.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Move Reporting functions to own file
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-tracing.ipf
  procedures/unit-testing-utils.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor: Add vector concept
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-utils-vector.ipf
  procedures/unit-testing-utils-waves.ipf
  procedures/unit-testing.ipf
  tests/Various.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Utils: Add TextGrid to store 2D text data
  procedures/unit-testing-utils-textgrid.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add test result storage waves
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Set test status to test results and update counter
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add error and failure details to results
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add partial stacktrace information for assertions
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Include STDOUT and STDERR in result waves
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add simple test cases
  tests/TestResultsTests/EasyTests.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/TestUtils.ipf
Due: testing, testing_nightly, xml_verification

Include test results test in CI
  .gitlab-ci.yml
  tests/check-junit-xml-files.sh
Due: testing, testing_nightly, xml_verification

Refactor JUnit to use test results wave
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-junit.ipf
  procedures/unit-testing-utils-strings.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor TAP to use test result waves
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-tap.ipf
  tests/VTTE.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Allow enableJU and enableTAP at the same time
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor Assertions to use results wave
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor errors to use results wave
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Fix typo in ReportErrorAndAbort documentation
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor messages to use results wave
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Remove global variable run_count
  procedures/unit-testing-basics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor reporting functions to be cleaner
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor global AssertionInfo string to wave
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-utils-vector.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Add elaborate test cases for result waves
  tests/TestResultsTests/ErroredTests.ipf
  tests/TestResultsTests/FailedTests.ipf
  tests/TestResultsTests/MultiDataTests.ipf
  tests/TestResultsTests/ReentryTests.ipf
  tests/TestResultsTests/ResultsTest.pxp
  tests/TestResultsTests/TestUtils.ipf
Due: testing, testing_nightly, xml_verification

Docs: Add developer section
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.graphml
  docu/sphinx/source/_static/images/developer/reporting/internal-behavior.svg
  docu/sphinx/source/developer.rst
  docu/sphinx/source/index.rst
Due: documentation, deployment_staging

CI: Fix large required job number
  .gitlab-ci.yml
Due: none

Move global constants into unit-testing-constants
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-constants.ipf
  procedures/unit-testing-tracing-analytics.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Include test case name in tap description
  procedures/unit-testing-tap.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Output full method name in assertion context
  procedures/unit-testing-reporting.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Utils: Make PrepareStringForOut global
  procedures/unit-testing-assertion-wrappers.ipf
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-utils.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Use UTF_PrintStatusMessage instead of printf
  procedures/unit-testing-autorun.ipf
  procedures/unit-testing-junit.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing-tap.ipf
  procedures/unit-testing-tracing-analytics.ipf
  procedures/unit-testing-tracing-tracer.ipf
  procedures/unit-testing-tracing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Refactor test reporting results controls
  procedures/unit-testing-basics.ipf
  procedures/unit-testing-reporting-control.ipf
  procedures/unit-testing-reporting.ipf
  procedures/unit-testing.ipf
Due: documentation, testing, testing_nightly, xml_verification, deployment_staging

Path conditions:
  documentation: any of: docu/**/*, procedures/**/*
  testing: any of: procedures/**/*, tests/**/*, xop/**/*
  testing_nightly: any of: procedures/**/*, tests/**/*, xop/**/*
  xml_verification: any of: procedures/**/*, tests/**/*, xop/**/*
  deployment_staging: any of: docu/**/*, procedures/**/*
  deployment: (not (any of: procedures/**/*, tests/**/*, xop/**/*)) and (any of: procedures/**/*, tests/**/*, xop/**/*)
